@import url('https://fonts.googleapis.com/css?family=VT323');

body {
	background-color: #202020;
}
h1 {
	font-family: 'VT323', monospace;
	font-size: 64px;
	line-height: 72px;
	color: #b8c9e8;
	margin: 0px 10px 0px 8px;
	display: inline-block;
}
h2 {
	font-family: 'VT323', monospace;
	font-size: 40px;
	line-height: 48px;
	color: #a8b9d8;
	margin: 0px 15px;
	margin-top: 16px;
}
a {
	text-decoration: none;
	color: #a8b9d8;
	transition: color .1s;
}
a:hover {
	color: #b8c9e8;
	transition: color .5s;
}
p {
	color: #eeeeee;
	font-family: Helvetica;
	font-size: 16px;
	line-height: 24px;
	margin: 0px 20px;
	margin-top: 4px;
	margin-bottom: 4px;
}
#links {
	display: inline-block;
	vertical-align: middle;
}
#links li {
	padding-bottom: 16px;
	display:inline-block;
	vertical-align: middle;
	margin-left: 10px;
	margin-bottom: 8px;
	transition: margin .15s;
}
#links li:hover {
	margin-left: 15px;
	margin-right: -5px;
}
#links li p {
	display: inline-block;
	font-size: 24px;
	font-family: 'VT323', monospace;
	line-height: 24px;
	color: #fff;
	vertical-align: middle;
	margin-left: 0px;
}
#links li img {
	display: inline-block;
	height: 28px;
	vertical-align: middle;
	margin-right: 5px;
}
#links li a {
	height: 32px;
	color: #eeeeee;
	text-decoration: none;
}
.block {
	margin: 0px 15px;
	padding: 4px 4px;
	border-width: 1px;
        border-style: dashed;
        border-color: #98a9c8;
	color: #dddddd;
}
#allcontainer {
	min-width: 350px;
	max-width: 800px;
	margin: auto;
	margin-top: 25px;
	margin-bottom: 25px;
	/*
	border-width: 1px;
	border-style: solid;
	border-color: #98a9c8;
	*/
}
